.mobile__burger__menu__content{
    display: flex;
    // clip-path: inset(0 0 100% 0);
}
.mobile__burger__menu{
    height: 0.75rem;
    width: 10vw;
    position: relative;

    &::before {
        position: absolute;
        display: inline-block;
        content: '';
        width: 100%;
        aspect-ratio: 10;
        background-color: black;
        top: 0;
        @media (prefers-color-scheme: dark){
            background-color: white;
        }
    }
    &::after{
        position: absolute;
        display: inline-block;
        content: '';
        width: 100%;
        aspect-ratio: 11;
        background-color: black; 
        bottom: 0;
        @media (prefers-color-scheme: dark) {
            background-color: white;
        }
    }
    
}